/*Reuse of existing code including sections as header, footer, information and blocks*/
@import url('../css/page.css');

/*<-- PROJECTS PAGE --> @Rickie Nielsen*/

.projects {
    display: flex;
    flex-direction: column;
    margin: 90px 0 80px;
    align-items: center;
}

.company__container {
    display: flex;
    margin: 0 0 90px;
}

.company__container:first-of-type {
    margin-top: 40px;
}

.company__img {
    width: 380px;
    height: 380px;
    border-radius: 50%;
    object-fit: cover;
}

.company__title {
    margin: 0;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.6;
}

.company__description {
    margin: 20px 0 30px;
    max-width: 480px;
    font-size: 18px;
    line-height: 30px;
}

.company__button {
    width: 150px;
    height: 50px;
    background: linear-gradient(183.72deg, #0FAABF -12.7%, #0B68F2 114.19%);
    border-radius: 30px;
}

.company__button-link {
    text-decoration: none !important;
    color: #fff !important;
}


@media screen and (max-width: 992px) {
    .projects {
        margin-top: 50px;
    }
}

@media screen and (max-width: 767px) {
    .company__container {
        margin-bottom: 60px;
    }

    .company__container:first-of-type {
        margin-top: 0;
    }

    .projects {
        margin-bottom: 50px;
    }

}


@media screen and (max-width: 590px) {
    .company__title {
        font-size: 24px;
    }

    .company__description {
        font-size: 14px;
    }

    .company__button {
        width: 128px;
        height: 42px;
    }

    .company__button-link {
        font-size: 14px;
    }

    .company__container {
        margin-bottom: 40px;
    }
}
