/*Reuse of existing code including sections as header, footer, information and blocks*/
@import url('../css/page.css');

/*<-- SERVICES PAGE --> @Siyu Xia*/

.services {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 70px 0 60px;
}

.services__information {
    max-width: 460px;
}

.services__title {
    font-weight: 900;
    font-size: 35px;
    line-height: 50px;
    color: #0B132A;
    margin: 0 0 25px;
}


.service__text {
    margin-left: 10px;
    line-height: 1.4;
}

.services__list {
    padding: 0;
}

.service__item {
    display: flex;
    align-items: center;
}

.service__icon {
    background-image: url('../images/check-icon.svg');
    min-width: 24px;
    min-height: 24px;
    background-position: center;
    padding: 2px;
    background-repeat: no-repeat;
}

.services__illustration {
    display: flex;
    margin: 0 auto;
}


@media screen and (max-width: 920px) {
    .services {
        flex-direction: column;
    }
}

@media screen and (max-width: 992px) {

    .services__information {
        margin: 0 auto;
    }

}

@media screen and (max-width: 600px) {
    .services__title {
        font-size: 20px;
        line-height: 25px;
    }

    .service__text {
        font-size: 14px;
    }

}

.row {
    align-items: center !important;
}
