/*Reuse of existing code including sections as header, footer, information and blocks*/
@import url('../css/page.css');

/*<-- OUR TEAM PAGE -->*/

/*Styles for the section called team @Loredana Cicati*/
.team {
    display: flex;
    flex-direction: column;
    margin: 27px 0 70px;
    align-items: center;
}


.team__image {
    border-radius: 10px;
    -webkit-box-shadow: -1px 3px 12px -3px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 3px 12px -3px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 3px 12px -3px rgba(0, 0, 0, 0.75);
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.icon {
    width: 20px;
    height: 20px;
}

.icon:hover {
    opacity: .7;
}


.team__member-location {
    margin-bottom: 15px;
}


.team__member-quote {
    margin: 15px 0;
}

.img__container {
    display: flex;
    align-items: center;
}

.row {
    padding: 15px !important;
}

.team__members {
    margin-bottom: 30px;
}

.team__member {
    display: flex;
}

.team__member-name {
    margin-right: 10px;
}

@media screen and (max-width : 590px) {
    .team {
        margin: 0;
    }
    .team__member-quote {
        display: none;
    }

    .team__member-location {
        margin: 15px 0;
    }

    .team__member-activity {
        font-size: 14px;
    }

    .team__image {
        width: 100%;
        height: auto;
    }

    .team__member-name {
        font-size: 16px;
    }
}

@media screen and (max-width : 400px) {
    .email {
        display: none;
    }

    .team__member-location {
        display: none;
    }

}
